name: Message Bus Tests

on:
  pull_request:
  push:
    branches:
      - master

env:
  PGHOST: localhost
  PGPORT: 5432
  PGPASSWORD: postgres
  PGUSER: postgres

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }} (redis ${{ matrix.redis }})
    services:
      postgres:
        image: postgres:9.6 # Oldest supported Postgres version
        env:
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    strategy:
      matrix:
        ruby: ["3.0", "2.7", "2.6"]
        redis: ["5.x", "6.x"]
        fail-fast: [false]
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true # 'bundle install' and cache
      - name: Create Database
        run: |
          createdb message_bus_test
      - name: Setup redis
        uses: shogo82148/actions-setup-redis@v1
        with:
          redis-version: ${{ matrix.redis }}
      - name: Tests
        run: bundle exec rake
